    <link rel = "stylesheet" href = "common_home.css">
    <link rel = "stylesheet" href = "menu_history.css">
    <link rel = "stylesheet" href = "head_mess.css">


<%- include ('head_mess') %>
<table class="table table-striped table-primary">
        <thead>
          <tr>
            <th>Mess ID</th>
            <th>Date</th>
            <th>Breakfast</th>
            <th>Lunch</th>
            <th>Snacks</th>
            <th>Dinner</th>
          </tr>
        </thead>
        <tbody>
          <%if (data.length >0){ %>
          <% data.forEach(function(row){ %>
          <tr>
            <td><%= row.mess_id %></td>
            <td><%= row.date %></td>
            <td><%= row.breakfast %></td>
            <td><%= row.lunch%></td>
            <td><%= row.snacks%></td>
            <td><%= row.dinner%></td>
          </tr>
          <% })}else{ %>
            <tr>
                <td colspan="6">No Records Found!</td>
                
              </tr>
            <% } %>
        </tbody>
      </table>
 <%- include ('footer') %>